[Unit]
Description=Homer Capture Agent
After=asterisk.service
Wants=asterisk.service

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill captagent
ExecStartPre=-/usr/bin/docker rm captagent
ExecStartPre=/usr/bin/docker pull gloppenhosting/homer-captagent
ExecStart=/bin/sh -c "/usr/bin/docker run --net=host --name captagent -t gloppenhosting/homer-captagent -d {{ ansible_default_ipv4.interface }} -h $(etcdctl get /captureserver) -p 9060 -i 2001 -w myHep"
ExecStop=/usr/bin/docker stop captagent

[X-Fleet]
MachineMetadata=boxrole=asterisk
Global=True
