[Unit]
Description=HomerCaptureServer
Wants=mysql.service
After=mysql.service

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=15s

ExecStartPre=-/usr/bin/docker kill captureserver
ExecStartPre=-/usr/bin/docker rm captureserver
ExecStartPre=-/usr/bin/docker run --name loaddata --link mysql:mysql -e MYSQL_ROOT_PASSWORD=secret -t gloppenhosting/homer-loaddata
ExecStartPre=-/usr/bin/docker kill loaddata
ExecStartPre=-/usr/bin/docker rm loaddata
ExecStartPre=/usr/bin/docker pull gloppenhosting/captureserver
ExecStart=/usr/bin/docker run --name captureserver -p 9060:9060/udp --link mysql:mysql -t gloppenhosting/captureserver
ExecStop=/usr/bin/docker stop captureserver

[X-Fleet]
MachineMetadata=boxrole=homer
Global=True
