[Unit]
Description=Dispatcher
After=kamailio.service
Requires=kamailio.service

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill dispatcher
ExecStartPre=-/usr/bin/docker rm dispatcher
ExecStartPre=/usr/bin/docker pull gloppenhosting/kamailio-etcd-dispatcher
ExecStart=/usr/bin/docker run --name dispatcher --volumes-from kamailio -t gloppenhosting/kamailio-etcd-dispatcher
ExecStop=/usr/bin/docker stop dispatcher

[X-Fleet]
MachineMetadata=boxrole=kamailio
Global=True
