[Unit]
Description=Announce Homer IP
BindsTo=captureserver.service
After=captureserver.service

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill homerweb
ExecStartPre=-/usr/bin/docker rm homerweb
ExecStartPre=/usr/bin/docker pull gloppenhosting/homer-webapp
ExecStart=/usr/bin/docker run --name homerweb -p 80:80 --link mysql:mysql -t gloppenhosting/homer-webapp
ExecStop=/usr/bin/docker stop homerweb

[X-Fleet]
MachineMetadata=boxrole=homer
Global=True
