[Unit]
Description=Kamailio Proxy
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill kamailio
ExecStartPre=-/usr/bin/docker rm kamailio
ExecStartPre=/usr/bin/docker pull gloppenhosting/kamailio
ExecStart=/usr/bin/docker run --name kamailio -p 5060:5060/udp -v /etc/kamailio -t gloppenhosting/kamailio
ExecStop=/usr/bin/docker stop kamailio

[X-Fleet]
MachineMetadata=boxrole=kamailio
Global=True
